{
  "users": {
    "admin": {
      "user": "test_admin",
      "pass": "Testing123"
    },
    "standard": {
      "user": "test_user",
      "pass": "Testing123"
    },
    "standard2": {
      "user": "test_user2",
      "pass": "Testing123"
    }
  },
  "redcap_version": "10.5.1",
  "redcap_hooks_path": "/var/www/html/hook_functions.php",
  "redcap_source_path": "../www",
  "temp_folder": "/path/to/www/temp",
  "mysql": {
    "host": "127.0.0.1",
    "path": "mysql",
    "port": "10512",
    "db_name": "redcap",
    "db_user": "redcap",
    "db_pass": "redcap123"
  },
  "bootstrap_settings": {
    "core": true,
    "hooks": false,
    "modules": false,
    "plugins": false,
    "projects" : false
  },
  "path": {
    "cdisc": "cdisc_files/core"
  },
  "page": {
    "ControlCenter" : "ControlCenter/index.php",
    "CreateProject" : "index.php?action=create",
    "ExternalModules": "ExternalModules/manager/control_center.php",
    "Home": "index.php",
    "ProjectExternalModules": "ExternalModules/manager/project.php",
    "RecordStatusDashboard": "DataEntry/record_status_dashboard.php"
  },
  "projectType": {
    "Practice": "0",
    "Operational_Support": "1",
    "Research": "2",
    "Quality_Improvement": "3",
    "Other": "4"
  },
  "targetType" : {
    "Event": "event",
    "Instance": "instance",
    "NewEvent": "newEvent",
    "NewInstance": "newInstance"
  },
  "instanceType": {
    "First": "first",
    "Last": "last",
    "Nth": "nth"
  }
}
